*{
    border:1px solid saddlebrown;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ul{
    list-style: none;
  }
  
  body {
    background-color: #f8f8ff;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }